.Weather {
  color: #878787;
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08); 
}

/* SEARCH FORM */
.Weather form {
  margin-bottom: 60px;
}

.Weather .search-input {
  background-color: #f9f9fa;
  border: none;
  border-radius: 6px;
  padding: 12px 15px;
  color: #6c757d;
  width: 100%;
}

.Weather .btn-primary {
  background-color: #885df1;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.Weather .btn-primary:hover {
  background-color: #7046ce;
}

/* FIX: REMOVE BULLETS AND STYLE TEXT */
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none; /* This removes the bullets */
  font-size: 16px;
  color: #8c8c8c;
  line-height: 24px;
  text-transform: capitalize; /* Capitalize description */
}

/* FIX: CITY NAME */
.Weather h1 {
  color: #272142; /* Darker, clearer color */
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

/* FIX: RED HIGHLIGHTS */
.Weather .highlight {
  color: #f65282; /* The Red/Pink color */
  font-weight: normal;
}

/* TEMP SECTION */
.Weather .temperature-container {
  text-align: right;
}


.logo {
  max-width: 150px;  /* <--- This stops it from getting too big */
  height: auto;      /* Keeps the shape correct */
  margin-bottom: 30px; /* Adds space between logo and search bar */
  display: block;
}