.Weather {
  font-family: arial, sans-serif;
  color: #878787;
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 5px;
}

.Weather h1 {
  color: #353535;
  margin: 20px 0 0 0;
  font-size: 24px;
  line-height: 28px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  color: #353535;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  color: #353535;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
}

.Weather img {
  width: 64px;
  margin-right: 10px;
}